/* General setup */


@font-face {
    font-family: 'PT Sans Narrow';
    src: url('myfonts/PTSans-Narrow.woff2') format('woff2'),
        url('myfonts/PTSans-Narrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('myfonts/PTSans-CaptionBold.woff2') format('woff2'),
        url('myfonts/PTSans-CaptionBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



.funnel-sans {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.sigmar-one-regular {
  font-family: "Sigmar One", sans-serif;
  font-weight: 0;
  font-style: normal;
}

html {
  font-size: 10px;
  margin: 0;

}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-family: "Sigmar One";
}

h2 {
  font-size: 2.4rem;
   font-family: 'PT Sans Caption';
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: "Funnel Sans";
}